.Form {
  border: none;
  border-bottom: 2px #44503d solid;
}

.Button {
  border: none;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Light {
  background-color: #dde9d6;
  color: #1f2421;
}

.Dark {
  background-color: #44503d;
  color: #e8e8e9;
}

.Dark:hover {
  cursor: pointer;
  background-color: #e8e8e9;
  transition: color ease-in-out 0.3s;
  color: #44503d;
}

.Light:hover {
  cursor: pointer;
  background-color: #44503d;
  transition: color ease-in-out 0.3s;
  color: #e8e8e9;
}
