.Post {
  background-color: #ffffff;
  border: 1px solid #56644c;
  border-radius: 2px;
  margin-bottom: 16px;
  text-align: center;
}

.PostHeader{
  background-color: #abc798;
}

.Owner {
  color: #44503d;
  font-weight: bold;
}

.Post figure,
h5 {
  margin: 0 0;
}

.Heart, .Tag {
  color: #44503d;
}

.HeartOutline, .HeartOutline:hover, .CommentOutline, CommentOutline:hover {
  color: #44503d;
}

.Star {
  color: #ffd449;
}

.StarOutline, .StarOutline:hover {
  color: #ffd449;
}