.App {
  font-family: "Quicksand", sans-serif;
  background-color: #e8e8e9;
  min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: #abc798;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #e8e8e9;
}

.CommentContent {
  margin-top: 20px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #1f2421;
  transition: color ease-in-out 0.3s;
}

a:hover {
  color: #1f2421;
  text-decoration: underline;
}

a:hover i {
  color: #1f2421;
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: #e8e8e9;
  font-size: 1.2rem;
  padding: 5px 7px 5px 15px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #E8E8E9;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
